<h1>Equipo: <%= @team.name %> </h1>
<%  if policy(@team).edit?  %>
  <%= link_to "Editar", edit_organization_team_path(@organization, @team)%>
<% end %>

<p><strong>Organización: </strong><%= link_to @organization.name, organization_path(@organization)%></p>



<strong>Descripción</strong>
<p><%= @team.description %></p>
<strong>Miembros del Equipo</strong>
<%= link_to "Añadir Miembros", new_participation_path(@team) %>

<ul>
  <% @team.participations.each  do |participation| %>
  <li><%= participation.user.email %>  </li>
  <% end %>
</ul>
<!-- agregar miembres de equipo -->
