<h1>Equipo: <%= @team.name %> </h1>
<%  if policy(@team).edit?  %>
  <%= link_to "Editar", edit_team_path(@team)%>
<% end %>


<p><strong>Organizacion: </strong><%= link_to @team.organization.name, organization_path(@team.organization)%></p>
<strong>Descripción</strong>
<p><%= @team.description %></p>
<strong>Miembros del Equipo</strong>
<%= link_to "Añadir Miembros", new_participation_path(@team) %>

<ul>
  <% @team.participations.each  do |participation| %>
  <li><%= participation.user.email %>  </li>
  <% end %>
</ul>
<!-- agregar miembres de equipo -->
