<h1><%= @meeting.name %></h1>
<p>Creada por <%=@meeting.user.name%> <%= @user.last_name%> fecha de creación: <%= @meeting.created_at%></p>
<% if policy(@meeting).destroy? %>
<p><%= link_to "Eliminar esta reunión", meeting_path, method: :delete, data: { confirm: "Esta seguro" } %></p>
<% end %>
<strong>Organizacón</strong>
<p>
<%= link_to @organization.name, organization_path(@organization)%>
</p>
<strong>Equipo</strong>
<p>
<%= link_to @team.name, organization_team_path(@team)%>
</p>
