<h1><%= @meeting.name %></h1>
<p>Creada por <%=@meeting.user.name%> <%= @user.last_name%> fecha de creaci贸n: <%= @meeting.created_at%></p>
<% if policy(@meeting).destroy? %>
<p><%= link_to "Eliminar esta reuni贸n", meeting_path, method: :delete, data: { confirm: "Confirme esta acci贸n por favor" } %></p>
<% end %>
<strong>Organizac贸n</strong>
<p>
<%= link_to @organization.name, organization_path(@organization)%>
</p>
<strong>Equipo</strong>
<p>
<%= link_to @team.name, organization_team_path(@team)%>
</p>
<strong>Invitados</strong>
<%= link_to "Editar invitados",edit_organization_team_meeting_invitation_path(@organization, @team, @meeting) %>
<ol>
  <% @meeting.invitations.each do |invitation|%>
  <li><%= invitation.user.name %></li>
  <% end %>
</ol>

