
<h1>Organizacion:<%= @organization.name %></h1>
<%  if policy(@organization).edit?  %>
  <%= link_to "Editar", edit_organization_path(@organization)%>
<% end %>


<p>Cedula Juridica: <%= @organization.legal_id%></p>
<p>Contacto: <%= @organization.contact_email %></p>
<p>Equipos:</p>
<ul>
  <% @organization.teams.each do |team| %>
  <li><%= link_to team.name, team_path(team) %></li>
  <% end %>
</ul>

  <%= link_to "Añadir Equipo", new_team_path(@organization) %>

